---
import type { Page } from 'astro';
import { maxDisplayPages } from '../site.config';

interface Props {
  page: Page;
  baseUrl: string;
}

const { page, baseUrl } = Astro.props;
const currentPage: number = page.currentPage;
const listStartPage: number =
  currentPage - maxDisplayPages >= 1 ? currentPage - maxDisplayPages : 1;
const listEndPage: number =
  currentPage + maxDisplayPages <= page.lastPage ? currentPage + maxDisplayPages : page.lastPage;
let pageList: { pageNum: number; isCurrent: boolean }[] = [];
for (let i = listStartPage; i <= listEndPage; i++) {
  pageList.push({ pageNum: i, isCurrent: i === currentPage });
}
Object.freeze(pageList);
---

<div class="mx-auto flex w-fit gap-2">
  {
    page.currentPage !== 1 ? (
      <div class="flex gap-2 py-2 text-xl">
        <a
          href={page.url.first}
          class="block h-10 w-10 rounded-full bg-violet-400 p-1 text-center dark:bg-violet-800"
        >
          &laquo;
        </a>
        <a
          href={page.url.prev}
          class="block h-10 w-10 rounded-full bg-violet-300 p-1 text-center dark:bg-violet-700"
        >
          &lt;
        </a>
      </div>
    ) : (
      <div class="w-[88px]" />
    )
  }
  <ul class="flex gap-3 rounded-lg border border-violet-950 px-2 py-1 dark:border-violet-50">
    {
      pageList.map((eachPage) =>
        eachPage.isCurrent ? (
          <li class="block h-10 w-10 rounded-full bg-violet-950 p-2 text-center text-violet-100 dark:bg-violet-50 dark:text-violet-950">
            {eachPage.pageNum}
          </li>
        ) : (
          <a href={`${baseUrl}/p${eachPage.pageNum}/`}>
            <li class="block h-10 w-10 rounded-full bg-violet-300 p-2 text-center dark:bg-violet-700">
              {eachPage.pageNum}
            </li>
          </a>
        ),
      )
    }
  </ul>
  {
    page.currentPage !== page.lastPage ? (
      <div class="flex gap-2 py-2 text-xl">
        <a
          href={page.url.next}
          class="block h-10 w-10 rounded-full bg-violet-300 p-1 text-center dark:bg-violet-700"
        >
          &gt;
        </a>
        <a
          href={page.url.last}
          class="block h-10 w-10 rounded-full bg-violet-400 p-1 text-center dark:bg-violet-800"
        >
          &raquo;
        </a>
      </div>
    ) : (
      <div class="w-[88px]" />
    )
  }
</div>
<p class="text-center">Page {page.currentPage} of {page.lastPage}</p>
